:root {
    --font-family: 'Josefin Sans', sans-serif;
    --primary-color:#3BC8E7;
    --secondary-color: #ffffff;
    --background-color: #14182A;
    --grid-fraction: 1fr;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

h1,h2,h3,h4,h5,h6,a,p,span {
    color: var(--secondary-color);
}
input, button {
    padding: 10px;
    width: 80%;
    border-radius: 4px;
}

a {
    text-decoration: none; 
    color: var(--secondary-color);  
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}












