/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.mobile-nav {
		position: fixed;
		top: 0;
		padding: 15px;
		background: black;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 999;
	}
	img {
		height: auto;
	}
	.web {
		display: none;
	}
	.mobile {
		display: block;
	}
	header .grid-cols-4,
	header .grid-cols-3,
	header .grid-cols-2 {
		grid-template-columns: repeat(1, var(--grid-fraction));
	}
	.main-banner .grid-cols-4,
	.main-banner .grid-cols-3,
	.main-banner .grid-cols-2 {
		grid-template-columns: repeat(1, var(--grid-fraction));
	}
	.recently-played .grid-cols-4,
	.recently-played .grid-cols-3,
	.recently-played .grid-cols-2 {
		grid-template-columns: repeat(1, var(--grid-fraction));
	}
	.weekly-top-10 .grid-cols-4,
	.weekly-top-10 .grid-cols-3,
	.weekly-top-10 .grid-cols-2 {
		grid-template-columns: repeat(1, var(--grid-fraction));
	}
	.main-banner .imgDiv {
		text-align: left;
		height: 50vh;
	}
	.main-banner .content-div {
		padding: 0;
	}
	.content-div {
		z-index: 2;
	}
	.ham {
		float: right;
	}
	.main-banner .content-div h1 {
		font-size: 20px;
	}
	.main-banner .content-div p {
		width: 100%;
	}
	.caption {
		padding-bottom: 20px;
	}
	.weekly-top-10 .flex:first-child {
		padding-left: 10px;
	}
	.image-overlay {
		height: auto;
	}
	.flex {
		column-gap: 10px;
	}
	.section-advertisement {
		padding: 0;
		margin-bottom: 0;
	}
	.hideOnMobile {
		display: none;
	}
	.grid-span-2 {
		grid-column: 5/ span 7;
	}
	.smallContainer {
		width: 90%;
	}
	.static-play-section {
		display: none;
	}
	footer {
		padding: 0;
		margin-bottom: 20px;
	}
	footer p {
		padding-top: 20px;
	}
	.main-banner {
		min-height: 70vh;
	}
	.height-50 {
		height: auto;
	}
	.mobile-pad-left-20 {
		padding-left: 10px;
	}
	.pad-small-2 {
		padding: 2px
	}

}

@media (max-width: 430px) and (min-width: 375px) {
	.flex {
		column-gap: 25px;
	}
	.section-advertisement {
		padding: 0;
		margin-bottom: 0;
	}
	.smallContainer {
		width: 90%;
	}
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {

	.grid-cols-4,
	.weekly-top-10 .grid-cols-3 {
		grid-template-columns: repeat(2, var(--grid-fraction));
	}
	.flex {
		column-gap: 5px;
	}
	.caption {
		padding-bottom: 20px;
	}
	.main-banner .content-div {
		padding-top: 10vh;
	}
	.main-banner {
		min-height: auto;
	}
	.section-advertisement {
		padding: 0;
		margin-bottom: 0;
	}
	.dj-mix-section {
		margin-right: 10px;
	}

	.fixed-width-150 {
		width: 120px;
	}

	.main-banner .content-div h1 {
		font-size: 30px;
	}
	
	.static-play-section {
	    padding-bottom: 10px;
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		background: var(--secondary-color);
		height: 35px;
		width: 10px;
	}
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
	.grid-cols-4,
	.weekly-top-10 .grid-cols-3 {
		grid-template-columns: repeat(2, var(--grid-fraction));
	}
	.flex {
		column-gap: 20px;
	}
	.caption {
		padding-bottom: 20px;
	}
	.main-banner .content-div {
		padding-top: 10vh;
	}
	.main-banner {
		min-height: auto;
	}
	.section-advertisement {
		padding: 0;
		margin-bottom: 0;
	}
	.dj-mix-section {
		margin-right: 10px;
	}

	.fixed-width-150 {
		width: 120px;
	}

	.static-play-section {
	    padding-bottom: 10px;
	}

	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		background: var(--secondary-color);
		height: 35px;
		width: 10px;
	}
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
	.main-banner .content-div {
		padding-top: 20vh;
	}
	.main-banner {
		min-height: auto;
	}
	.section-advertisement {
		padding: 0;
		margin-bottom: 0;
	}
	.dj-mix-section {
		margin-right: 10px;
	}
}